{% extends 'master.html' %}
{% load static %}
{% block tittle %} HOME {% endblock %}
{% block head %}

{% endblock %}
{% block content1 %}

<section class="jumbotron text-center" >
    <div class="container" >
<!--        <img class="card-img" th:src="@{assets/img/nodo.png}" alt="logo kbs">-->
        <h1>TFT Enriching a Knowledge Graph related to Sustainable Development Goals</h1>
        <p class="lead text-muted">Platform to enrich knowledge graphs of semantic and open repositories.</p><br>
        <!--<p>
            <a href="#" class="btn btn-primary my-2">Register new</a>
            <a href="#" class="btn btn-secondary my-2">visualize data</a>
        </p>-->
    </div>
    <br>
    <hr>
    <br>
</section>

{% endblock %}
